{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="grid" style="text-align:center;">
            <div class="g-col-4">
                <h5>Detalle</h5>
                <a href="{% url 'ahorro:detalle' %}" class="btn btn-primary" style="width: 200px;">Detalle</a>
                <p>Selecciona esta opción para ver el detalle.</p>
            </div>
            <br>
            <div class=" g-col-4">
                <h5>Registro</h5>
                <a href="{% url 'ahorro:registro' %}" class="btn btn-primary" style="width: 200px;">Registro</a>
                <p>Selecciona esta opción para hacer un nuevo registro.</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}